{% extends 'base.html.twig' %}

{% block title %}Bretaigne MAP {{ controller_name }}!{% endblock %}

{% block body %}

<section class="articles">

    <article>
        <h2>Titre de l'article</h2>
        <img src="http://placehold.it/200x150" alt="">
        <div class="metadata">test</div>
        <div class="metadata">test</div>
    </article>
    
</section>

{% endblock %}
